/*-- scss:defaults --*/
// Base document colors
//Primary Blue  Hex: #03244d
//Primary Orange Hex: #dd550c
//Secondary Blue Hex: #496e9c
// Secondary Orange Hex: #f68026
$primary: #03244d;
$secondary: #dd550c;
$body-bg: white; //#496e9c;
$body-color: #03244d;
$link-color:#20AFF1; // #75AADB;

// Code blocks
$code-block-bg-alpha: -.8;